@import "compass/utilities/sprites";
@import "icons/*.png";

.icon {
  display: inline-block !important;
}

.star {
  @include icons-sprite(star);
  width: 50px;
  height: 49px;
}

.heart {
  @include icons-sprite(heart);
  width: 56px;
  height: 49px;
}

.arrow-fat {
  @include icons-sprite(arrow-fat);
  width: 93px;
  height: 34px;
}

.arrow-thin {
  @include icons-sprite(arrow-thin);
  width: 77px;
  height: 25px;
}
