@import "foundation/functions";

$rem-base: 16px;

$header-font-family: "Machine Script", sans-serif;
$body-font-family: Consolas, Liberation Mono, Courier, monospace;
$include-open-sans: false;

$h1-font-size: rem-calc(58);
$h2-font-size: rem-calc(54);
