// Global Foundation Settings
@import "settings";

// Foundation imports
@import
  "foundation/components/block-grid",
  "foundation/components/grid",
  "foundation/components/inline-lists",
  "foundation/components/type";

// erinodo imports
@import
  "erinodo/type",
  "erinodo/icons",
  "erinodo/sub-nav",
  "erinodo/hero-nav";

body {
  padding-top: rem-calc(50);
}

#main {
  min-height: rem-calc(500);
}

#bottom {
  background-color: #000;
  color: #fff;
  margin-top: rem-calc(80);
  padding-top: rem-calc(15);
  a { color: #fff; }
}

@media #{$large-up} {
  body.home {
    background-image: image-url("bird.png");
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: 0% 25%;
  }
}
